version: '3'
volumes:
  psql:
services:
  psql-dev:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    volumes:
      - psql:/var/lib/postgresql/bitcoinrpc
    ports:
      - 5432:5432

  redis:
    image: redis/redis-stack
    ports:
      - "16379:6379"
    volumes:
      - $PWD/data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  default:
    driver: bridge
